body {
    height: auto;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
    font-family: "tohoma";
}

img {
    border: 5px solid brown;
}

h2, h3 {
    font-family: "tahoma";
    font-size: 25px;
    text-align: center;
    background-color: brown;
    color: peachpuff;
    width: 100%;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.main {
    height: auto;
    background-color: peachpuff;
    border: 5px solid brown;
    border-radius: 25px;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    width: 31%;
    justify-content: flex-start;
}

.center {
    justify-content: flex-start;
}

.right {
    width: 30%;
    padding: 10px;
    justify-content: flex-start;
}

.bio {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.islebio {
    height: 20%;
    border: 5px solid brown;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 10px;
}

.vil {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.lee, .flag {
    width: 100%;
    border-radius: 25px;
}
.villager {
    width: 40%;
    border-radius: 25px;
    align-items: flex-start;
}

.banner {
    width:100%;
    border-radius: 20px;
    margin-bottom: 20px;
}
